/* 
 * Custom Styles for Nestwood
 */

 // Colors
$zumthor: #c9d2d5;
$catalinablue: #2d3a60;
$myrtle: #1e3b1e;
$verydarkbrown: #5b4832;
$sealbrown: #2b1f11;

// Fonts
$museoslab: 'MuseoSlab-500', Times, serif;
$museoslab-italic: 'MuseoSlab-500Italic', Times, serif;
$aspira: 'Aspira-DEMO', Helvetica, Arial, sans-serif; 

body{
  font-family: $aspira;
}

h1, h2, h3, h4, h5, h6{
  color: $catalinablue;
  font-family: $museoslab;
}

h1, h2{
  text-transform: uppercase;
}

h2{
  border-bottom: 4px double $catalinablue;
  margin-bottom: 1em;
}

p.lead{
  text-align: center;
  text-transform: uppercase;
}

.top-bar{
 background: $catalinablue;
 font-family: $museoslab;
 ul{
  li{
    background: none;
    a{
      background: none;
      color: $zumthor;
      font-family: $museoslab;
      text-transform: uppercase;
    }
  }
 }
}

article{
  padding: 5em 0;
}

.row{
  padding: 0 1.5%;
}

.top-bar-section li:not(.has-form) a:not(.button){
  background: none;
  &:hover{
    background: none;
  }
}

#banner{
  background-attachment: scroll, scroll, scroll, fixed;
  background-color: #645862;
  background-image: url("../images/city.jpg");
  background-position: bottom left, bottom right, top left, top center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-size: cover;
  color: white;
  cursor: default;
  padding: 6em 0;
  text-align: center;
  .inner{
    background: rgba($zumthor, 0.75);
    border-radius: 2px 2px 2px;
    color: $catalinablue;
    display: inline-block;
    padding: 3em;
    text-align: center;
    text-transform: uppercase;
    h2{
      border-top: 4px double $catalinablue;
      border-bottom: 4px double $catalinablue; 
    }
  }
}

#about{
  background: $myrtle;
  h2, h3, span, p, i{
    color: $zumthor;
  }
  h2{
    border-color: $zumthor;
  }
  .green{
    background: rgba(white, .25);
    border-radius: 2px 2px 2px;
    li{
      display: table;
      line-height: 1em;
      span{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  i{
    font-size: 3em;
    margin-right: .25em;
  }
}

#services{
  i{
    background: $verydarkbrown;
    border-radius: 50%;
    color: white;
    display: block;
    font-size: 10em;
    margin-bottom: .25em;
    padding: .45em;
    text-align: center;
  }
  .medium-4{
    text-align: center;
  }
}

#clients{
  background: url(../images/brick-wall.png) repeat;
  img{
    border: 4px double $catalinablue;
    max-width: 100%;
    height: auto;
  }
}

#footer{
  background: $sealbrown;
  color: $zumthor;
  padding: 1em 0;
  font-size: .5em;
  a{
    color: $zumthor;
  }
}



































